<template>
  <ul class="home">
    <list-item v-for="poll in polls" :key="poll.id" :poll="poll"/>
  </ul>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import ListItem from '@/components/Listitem'
import axios from 'axios'

export default {
  name: 'home',
  components: {
    ListItem
  },
  data: function () {
    return {

      // poll: {name: "hello"},
      polls: [
        // { id: 1, name: 'salut' },
        // { id: 2, name: 'monde' }
      ]
    }
  },
  mounted: function () {
    axios.get('http://127.0.0.1:3000/polls').then((response) => this.polls = response.data)
  }
}
</script>
