<template>
  <li>
    <h3>
      {{poll.name}}
    </h3>
    <p>
      {{poll.question}}
    </p>
  </li>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';


export default {
  name: 'list-item',
  props: {
    poll:Object
}
}
</script>
